In [3]:
from collections import namedtuple #creates object types
#Example 1
# Point = namedtuple('Point','x,y')
# pt1 = Point(1,2)
# pt2 = Point(3,4)

# dot_product = (pt1.x*pt2.x) + (pt1.y*pt2.y)
# print(dot_product)

#Example 2
# Car = namedtuple('Car','Price Mileage Colour Class')
# xyz = Car(Price=100000, Mileage=30, Colour='Cyan', Class='Y')
# print(xyz.Class)

In [5]:
num_students = int(input())
fields = input()
prop = fields.split()
object = namedtuple('object', fields)
total = 0
for _ in range(num_students):
    data = input().split()
    student = object(data[0], data[1], data[2], data[3])
    total += int(student.MARKS)
  

print(total/num_students)

73.5